
extends layout

block content
  form(action="/tasks/add", method="post")
    label(for="title")
      | Tytuł
    br
    input(type="text" id="title" name="title")
    br
    input(type="submit", value="Dodaj")
    br
      | Opis zadania
    br 
    textarea(id="description" rows="4" cols="50")
